#!/bin/bash

############################################################################################
# Kernel Source:
# git clone https://github.com/Ingres-Centre/android_kernel_xiaomi_sm8450 -b lineage-23.2
############################################################################################

##############################################
# Toolchains
##############################################

export ARCH=arm64
export SUBARCH=arm64

# Disable NetHunter's old downloaded toolchains.
unset CLANG_SRC
unset CLANG_SRC_TYPE
unset CLANG_ROOT
unset CLANG_PATH
unset CLANG_TRIPLE
unset LD_LIBRARY_PATH

unset CROSS_COMPILE_SRC
unset CROSS_COMPILE_TYPE
unset CROSS_COMPILE_ARM32_SRC
unset CROSS_COMPILE_ARM32_TYPE

unset CCD64
unset CCD32
unset CROSS_COMPILE
unset CROSS_COMPILE_ARM32
unset CROSS_COMPILE_COMPAT

# Force modern system LLVM.
export PATH=/usr/lib/llvm-18/bin:/usr/bin:$PATH

export LLVM=1
export LLVM_IAS=1

export CC=/usr/bin/clang
export HOSTCC=/usr/bin/clang

export LD=/usr/bin/ld.lld
export HOSTLD=/usr/bin/ld.lld

export AR=/usr/bin/llvm-ar
export NM=/usr/bin/llvm-nm
export OBJCOPY=/usr/bin/llvm-objcopy
export OBJDUMP=/usr/bin/llvm-objdump
export STRIP=/usr/bin/llvm-strip

# Additional compiler arguments
MAKE_ARGS="LLVM=1 LLVM_IAS=1"

# Speed up the build
CCACHE=true

# Name your kernel
export LOCALVERSION=-NetHunter

# Preferred target for make config
# CONFIG_TOOL=nconfig
